<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.parasoft.integrationtest.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.parasoft.integrationtest.Perspective"
            icon=""
            id="IntegrationTest.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.parasoft.ItegrationTest.application"
            name="IntegrationTest">
         <property
			name="preferenceCustomization"
			value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="producttest"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.parasoft.IntegrationTest.application"
            name="IntegrationTest">
         <property
               name="appName"
               value="IntegrationTest">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="integrationtest.contacts"
            id="IntegrationTest.contacts"
            icon="icons/1.png"
            name="contacts"
            restorable="true">
      </view>
      <view
            class="integrationtest.FirstView"
            icon="icons/alt_window_16.gif"
            id="IntegrationTest.FirstView"
            name="视窗"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.parasoft.edit.TestEditor"
            default="false"
            id="IntegrationTest.editor1"
            name="TestEditor">
      </editor>
   </extension>
</plugin>
